@using AutomationShopHub.Core.Models.Product.Enum;
@model ProductDetailModel

@{
    ViewBag.Title = "Product Details";

    var isOrdered = false; // Check Order Entity if ClientUser has this product ordered or not!!!
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container" style="display:inline">
   <div class="row">
      <div class="col-4">
         <div class="card-body">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ProductType.ImageUrl" alt="Product Image">
                 <p></p>
            <div style="margin:20px;">
               <h5 class="card-title">Agent Info</h5>
               <img class="card-img-top" style="width: 20rem;"
                    src="@Model.SalesAgentProfileURL" alt="Agent Image">
               <p class="card-text">Email:  @Model.SalesAgentEmail</p>
               <p class="card-text">Phone Number: @Model.SalesAgentPhoneNumber</p>
            </div>
         </div>
      </div>
      <div class="card col-8 border-0">
         <p style="font-size:25px;"><u>@Model.Name</u></p>
         <p>Offered by: <b>@Model.SalesAgentEmail</b></p>
         <p>
            Price :
            <b>@String.Format("{0:f2}", Model.ProductType.Price) BGN</b>
         </p>
         <p style ="font-size:18px;font-family:Verdana;text-align:justify;">@Model.ProductType.Description</p>
         <p>Category: <b>@Model.Category</b></p>
            @{
                if (@Model.Category == ProductTypeEnum.PLC.ToString())
                {
                 <partial name="_PLCPartialDetails" model="@Model.ProductType" />

                }
                if (@Model.Category == ProductTypeEnum.Robot.ToString())
                {

                }
                if (@Model.Category == ProductTypeEnum.Sensor.ToString())
                {

                }
                if (@Model.Category == ProductTypeEnum.VisionSystem.ToString())
                {

                }
            }
         <p><i>(@(isOrdered ? "Remove Order" : "Add Order"))</i></p>
         <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (!isOrdered)
                    {
                    <form class="ml-2" asp-controller="Product"
                  asp-action="Order" asp-route-id="@Model.Id" method="post">
                       <input class="btn btn-primary" type="submit" value="Order" />
                    </form>
                    }
                    else
                    {
                    <form class="ml-2" asp-controller="Product" asp-action="Remove"
                  asp-route-id="@Model.Id" method="post">
                       <input class="btn btn-primary" type="submit" value="Remove Order" />
                    </form>
                    }
                }
         </div>
         <p></p>

      </div>
   </div>
</div>