@model ProductModel


<div class="col-xs-12 col-sm-6 col-md-4 mt-5">
   <!-- Card -->
   <div class="card">

      <!--Card image-->
      <div class="view overlay">
         <img class="card-img-top" src="@Model.ProductType.ImageUrl" alt="Card image cap">
         <a href="#!">
            <div class="mask rgba-white-slight"></div>
         </a>
      </div>

      <!--Card content-->
      <div class="card-body">

         <!--Title-->
         <h4 class="card-title">@Model.Name</h4>
         <!--Text-->
         <p style="font-weight:bold" class="card-text">@Model.Brand.Name</p>
         <p class="card-text">@Model.ProductType.Description</p>
         <div>
            <p style="font-family:fantasy">@Model.Category.Name</p>
            <p class="card-footer">@Model.SalesAgent.AgentName</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductType.ProductId" asp-route-id="@Model.Id"
               class="btn btn-light-blue btn-md">Details</a>
         </div>
         <h6>
            Price :
            <b>@String.Format("{0:f2}", Model.ProductType.Price) BGN</b>
         </h6>
         <br />

            @if (this.User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Agent"))
                {
                 <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id"
            class="btn btn-warning">Edit</a>
                 <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id"
            class="btn btn-danger">Delete</a>
                 <p></p>
                }
                @if (User.IsInRole("Client"))
                {
                 <form class="input-group-sm" asp-controller="Product"
               asp-action="AddOrder" asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-primary" type="submit" value="AddOrder" />
                 </form>
                }
            }
      </div>

   </div>
   <!-- Card -->
</div>



