@model PLCModel

<div class="row">
   <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
      <form method="post">
         <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" placeholder="Title...">
            <span asp-validation-for="@Model.Name" class="small text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="@Model.Description"></label>
            <input asp-for="@Model.Description" class="form-control" placeholder="Address...">
            <span asp-validation-for="@Model.Description" class="small text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" rows="4" class="form-control" placeholder="Two bedrooms..."></textarea>
            <span asp-validation-for="Description" class="small text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
            <span asp-validation-for="ImageUrl" class="small text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="PricePerMonth"></label>
            <input asp-for="PricePerMonth" class="form-control">
            <span asp-validation-for="PricePerMonth" class="small text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                   <option value="@category.Id">@category.Name</option>
                    }
            </select>
            <span asp-validation-for="CategoryId" class="small text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="BrandId"></label>
            <select asp-for="BrandId" class="form-control">
                    @foreach (var category in Model.Brand)
                    {
                   <option value="@category.Id">@category.Name</option>
                    }
            </select>
            <span asp-validation-for="CategoryId" class="small text-danger"></span>
         </div>

         <div class="text-center">
            <a class="nav-link text-dark" asp-area="Agent" asp-page="/Product/@category.Name">Proceed</a>
         </div>
      </form>
   </div>
</div>